@import "bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.row {
    --bs-gutter-x: 0rem;
}

.bold {
    font-weight: bold;
}

nav {
    color: white;
    background-color: #F55A5A;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 20px 36px;
}

.nav--title {
    padding-left: 0.5%;
    font-weight: 400;
}

.card {
    font-size: 12px;
    border: none;
}

.image--col{
    text-align: center;
}
.card--image {
    max-width: 50%;
    border-radius: 9px;
    margin-top: 9px;
}

.card--stats {
    margin-top: 5%;
}
.card--location {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card--locationPin {
    color:#F55A5A;
}

.card--anchor {
    color: #918E9B;
}

.card--anchor:hover {
    color:#F55A5A;
}

.card--description {
    width: 60%;
}

